<div class="customer-details-container">
    <h2>Customer Details</h2><br>
  
    <div class="customer-details-form">
      <div class="row mb-3">
        <div class="col-md-4">
          <p><strong>First Name:</strong>
            <input [(ngModel)]="firstName" [disabled]="!editMode" class="form-control" />
          </p>
        </div>
        <div class="col-md-4">
          <p><strong>Last Name:</strong>
            <input [(ngModel)]="lastName" [disabled]="!editMode" class="form-control" />
          </p>
        </div>
        <div class="col-md-4">
          <p><strong>Location:</strong><br>
            <input [(ngModel)]="location" [disabled]="!editMode" class="form-control" />
          </p>
        </div>
    </div>
  
    <div class="row mb-3">
        <div class="col-md-12">
          <button class="btn btn-success" *ngIf="editMode" (click)="showSuccessAlert()">Save</button>&nbsp;
          <button class="btn btn-secondary" *ngIf="editMode" (click)="cancelEdit()">Cancel</button>
        </div>
    </div>
  
    <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        Customer details saved successfully!
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
    </div>
    </div>
  
    <h3>Schedule Appointments</h3><br>
    <table class="table table-bordered custom-table">
      <thead>
        <tr>
          <th>Date/Time</th>
          <th>Action</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of entries; let i = index">
          <td>
            <!-- Use Angular forms and date/time picker -->
            <input type="datetime-local" [(ngModel)]="entry.dateTime" name="dateTime_{{i}}" class="form-control">
          </td>
          <td>
            <button class="btn btn-primary" (click)="toggleEditMode()">Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="confirmDeleteAppointment(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table> <br>
  
    <!-- Button to add appointments -->
    <button class="btn btn-success" (click)="addAppointment()">Add Appointment</button><br>
    <button class="btn btn-secondary" (click)="goBack()">Back</button>
</div>

  