
<div class="container-fluid">
    <h2 style="color: gold;">Enrolled Customer</h2>
    <table class="table mt-4">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.firstname }}</td>
          <td>{{ customer.lastname }}</td>
          <td>{{ customer.location }}</td>
          <td>
            <button class="btn btn-info" [disabled]="isDialogOpen" (click)="viewCustomer(customer)">View</button>&nbsp;
            <button class="btn btn-danger" [disabled]="isDialogOpen" (click)="deleteCustomer(customer)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" [disabled]="isDialogOpen" (click)="openCustomerFormDialog()">Add Customer</button>
</div>