body, html {
    height: 100%;
    margin: 0;
}
  
.container-fluid {
    height: 100vh; /* Set full viewport height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://thumbs.dreamstime.com/b/metal-dumbbell-gym-background-d-rendering-78457398.jpg'); /* Replace with your image path */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.text-center {
    text-align: center;
    color: white; /* Set text color to white for better visibility on the background */
}
  
.table {
    margin-top: 20px; /* Adjust margin as needed */
    width: 60%; /* Set the width of the table as a percentage or a fixed value */
}

  /* Optionally, you can set a specific width for individual columns */
.table th, .table td {
    width: 25%; /* Set the width of each column as a percentage or a fixed value */
}

button.btn.btn-primary {
    margin-left: 960px;
}


@media only screen and (max-width: 768px) {
    .table {
        // margin-top: 20px; /* Adjust margin as needed */
        width: 100%; /* Set the width of the table as a percentage or a fixed value */
    }
}

  