.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.mat-dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
  